[submodule "engine/dependencies/assimp"]
	path = engine/dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "engine/dependencies/bullet3"]
	path = engine/dependencies/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "engine/dependencies/glad"]
	path = engine/dependencies/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "engine/dependencies/glm"]
	path = engine/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/dependencies/stb"]
	path = engine/dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/dependencies/zlib"]
	path = engine/dependencies/zlib
	url = https://github.com/madler/zlib.git
[submodule "engine/dependencies/freetype"]
	path = engine/dependencies/freetype
	url = https://github.com/freetype/freetype.git
[submodule "engine/dependencies/libRocket"]
	path = engine/dependencies/libRocket
	url = https://github.com/libRocket/libRocket.git
[submodule "engine/dependencies/imgui"]
	path = engine/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
